{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper" class="container-fluid">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Onlinespaces Bootstrap using Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}</h1>
            </div>
            <div id="status">
                <p>
                    Your application is now ready to start working on it at:
                    <i class="fa fa-check"></i><code>{{ base_dir }}/</code>
                </p>
                <p>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a class="btn btn-primary pull-right" href="{{ path('logout') }}">Logout</a>
                    {% else %}
                        <a class="btn btn-primary" href="{{ path('login_action') }}">Login</a>
                        {% include 'security/_login_buttons.html.twig' %}
                    {% endif %}
                </p>
            </div>

        </div>
    </div>
{% endblock %}