<a class="btn btn-primary" href="{{ path('connect_facebook') }}"><i class="fa fa-facebook-square fa-lg"></i> Login</a>
<a class="btn btn-primary" href="{{ path('connect_google') }}"><i class="fa fa-google-plus-square fa-lg"></i> Login</a>
<a class="btn btn-primary" href="{{ path('user_register') }}">Create an Account</a>