<header role="banner">
    <nav role="navigation" class="navbar navbar-static-top navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">Onlinespaces</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('homepage') }}"><i class="fa fa-home"></i>Home</a></li>
                    <li>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <a href="{{ path('logout') }}">Logout</a>
                        {% else %}
                            <a href="{{ path('login_action') }}">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>